.showTheatre {
    margin-top: 40px;
}

.showTheatre-image {
    width: 100px;
    height: 100%;
}

.showTheatre-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 0 0 30px 20px;
    border-bottom: 2px solid var(--primary-color);
}

.showTheatre-text-container {
    display: flex;
    flex-direction: column;

}

.showTheatre-heading {
    color: var(--tertiary-color);
    margin-left: 20px;
}

.showTheatre-text-heading {
    color: var(--secondary-color);
}

.showTheatre-address {
    margin-top: 10px;
}

.showTheatre-rating {
    margin-top: 5px;
}
.showTheatre-book-holder {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
.showTheatre-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
    align-items: center;
    min-width: 270px;
    margin: 20px 0 0 0px;
    border-right: 2px solid var(--primary-color);
}

.showTheatre-card-title {
    color: var(--tertiary-color);
}

.showTheatre-card-time {
    margin-top: 5px;
}

.showTheatre-card-title {
    margin-top: 10px;
}

.showTheatre-card-button {
    margin-top: 20px;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 5px;
}

.showTheatre-book-holder .showTheatre-card:first-child {
    margin-left: 0;
}
.showTheatre-book-holder .showTheatre-card:last-child {
    border-right: none;
}
@media only screen and (max-width: 768px)
 {.showTheatre-book-holder {
    flex-direction: column;
}
.showTheatre-card {
    border-right: none;
}

    
}
